%h2= @blog.name 

= render partial: 'posts/post', collection: @blog.posts

- if @blog.can_be_accessed_by?(current_user)
  = link_to 'Create New Post', new_blog_post_path(@blog)
\|
= link_to 'Back', blogs_path
