= simple_form_for blog_search, url: blog_search_path, method: :post, remote: true do |f|
	= f.input :contents, label: false, placeholder: 'key words'
	= f.button :submit, "Search", class: "small button"
