.d-flex.justify-content-between.justify-content-xl-start.flex-sm-column-reverse.align-items-center
  .comments
    %em No comments yet
  .reaction{id: post_reaction_div_id(post)}
    = reactions_for_post(post)

