%p
  %b Body:
  = @post.body
%b Comments:
= render partial: 'comments/comment', collection: @post.comments

= link_to 'Leave a Comment', new_post_comment_path(@post)
\|
= link_to 'Back', blog_path(@post.blog)
