.small-2.left.columns
	%nav#sidenav
		%ul.side-nav
			%li
				= link_to "Home", root_path
			%li
				= link_to "New Blog", new_users_blog_path
			%li
				= link_to "My Blogs", users_blogs_path
			%li
				= link_to "My Posts", users_posts_path